<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title>Ford Power-Up Info</title>
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
        <link rel="manifest" type="application/manifest+json; charset=utf-8" href="/site.webmanifest" />

        <!-- build:css css/combined.css -->
        <link rel="stylesheet" type="text/css" href="../../node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css" type="text/css" />
        <link rel="stylesheet" type="text/css" href="../../node_modules/@fortawesome/fontawesome-free/css/brands.min.css" type="text/css" />
        <link rel="stylesheet" type="text/css" href="css/roboto-font.css" />
        <link rel="stylesheet" type="text/css" href="css/sf-pro-display.css" />
        <link rel="stylesheet" type="text/css" href="../../node_modules/mdb-ui-kit/css/mdb.min.css" />
        <link rel="stylesheet" type="text/css" href="../../node_modules/material-icons/iconfont/material-icons.css" />
        <link rel="stylesheet" type="text/css" href="../../node_modules/ui-bootstrap4/dist/ui-bootstrap-3.0.7-csp.css" />

        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <link rel="stylesheet" type="text/css" href="css/theme-light.css" />
        <link rel="stylesheet" type="text/css" href="css/theme-dark.css" />
        <!-- <link rel="stylesheet" type="text/css" href="css/theme_toggle.css" /> -->

        <link rel="stylesheet" type="text/css" href="css/spinners.css" />
        <!-- endbuild -->

        <!-- build:js js/header-combined.js -->
        <script type="text/javascript" src="../../node_modules/@fortawesome/fontawesome-free/js/fontawesome.min.js"></script>
        <script type="text/javascript" src="../../node_modules/@fortawesome/fontawesome-free/js/all.min.js"></script>

        <!-- endbuild -->
    </head>

    <body class="pb-4" ng-app="mainApp" ng-cloak>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg py-0 navbar-dark bg-ford-blue">
            <div class="container-fluid my-1" id="site-navbar">
                <div class="text-center">
                    <div class="d-flex justify-content-center text-center medium">
                        <div class="d-flex align-items-center text-white"><i class="fa fa-cube me-1"></i><span class="pe-1">Ford</span><span class="pe-1 fw-bold">Power-Up</span><span class="pe-1">Info</span></div>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <a class="btn text-white medium px-2" href="https://github.com/tonesto7/ford-pwr-up-info/issues" role="button" title="Submit New Item"><i class="fas fa-plus"></i></a>
                    <a class="btn text-white medium px-2" href="https://github.com/tonesto7/ford-pwr-up-info" role="button" title="Project Source"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </nav>
        <!-- Navbar -->

        <!-- Body -->
        <div class="" ng-controller="PwrUpInfoController">
            <div class="container" style="max-width: 1000px">
                <div class="text-large text-center pt-2 fw-bolder">Ford Power-Up Version History</div>
                <div class="smaller text-opacity-50 text-center">NOTICE: This Data is all sourced by the ford owner Community and the data may be wrong or incorrect.</div>
                <div class="smaller text-orange text-center">This site is currently under active development and will continue to change over the coming days</div>

                <div class="container-fluid mx-auto">
                    <div class="d-flex row justify-content-center">
                        <!-- SHOW THIS DIV WHEN SUBMISSION RECORDS ARE FOUND START -->
                        <div class="w-100" ng-if="FilteredPowerUpData && FilteredPowerUpData.submissions.length > 0">
                            <!--  MODEL SELECTOR START -->
                            <div class="d-flex row mx-2 mt-2">
                                <div class="col-4"></div>
                                <div class="col-4 my-auto">
                                    <div class="d-flex justify-content-center">
                                        <form class="" ng-if="vehicleModelList && vehicleModelList.length">
                                            <div class="">
                                                <select id="vehicleModelFilter" ng-model="vehicleModelFilter" class="form-select form-select-sm rounded-border-10" aria-label=".form-select-sm example" ng-change="applyModelFilter()">
                                                    <option value="" selected>All Models</option>
                                                    <option class="text-uppercase" ng-repeat="model in vehicleModelList track by $index" value="{{ model }}">{{ model }}</option>
                                                </select>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <div class="col-4 my-auto">
                                    <div class="d-flex justify-content-end small fw-bold" ng-if="FilteredPowerUpData.submissions.length >= 0">{{ FilteredPowerUpData.submissions.length }} Items</div>
                                </div>
                            </div>
                            <!--  MODEL SELECTOR END -->

                            <!--  SUBMISSION DIV WRAPPER START -->
                            <div class="d-flex justify-content-center align-items-center" ng-repeat="sub in FilteredPowerUpData.submissions track by $index">
                                <!-- SUBMISSION CARD START  -->
                                <div class="card hover-shadow border-ford-blue mx-2 my-2 w-100">
                                    <div class="card-header bg-light-gray px-3 py-1 w-100">
                                        <div class="d-flex justify-content-between">
                                            <div class="">
                                                <div class="card-title fw-bolder text-large my-auto">{{ sub.powerupVersion }}</div>
                                                <div class="card-subtitle small">{{ sub.releaseDateUs ? formatDateMonthYear(sub.releaseDateUs) : "No Release Date" }}</div>
                                            </div>
                                            <div class="my-auto">
                                                <div class="container-fluid d-flex justify-content-center align-item-center px-0"><span class="badge badge-model-tags me-1 my-auto ms-0 px-2 py-1 x-small" ng-repeat="model in sub.models track by $index">{{ model }}</span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body p-2">
                                        <div class="d-flex justify-content-start">
                                            <table class="table table-responsive table-sm">
                                                <thead>
                                                    <th class="px-1 py-0 text-center">Model Years</th>
                                                    <th class="px-1 py-0 text-center" ng-if="sub.modulesUpdated && sub.modulesUpdated.length">Modules Updated</th>
                                                    <th class="px-1 py-0 text-center" ng-if="sub.updateMethod && sub.updateMethod.length">Update Method</th>
                                                    <th class="px-1 py-0 text-center">Vehicle Inhibit</th>
                                                </thead>
                                                <tbody>
                                                    <tr class="">
                                                        <td class="p-1">
                                                            <div class="container-fluid d-flex justify-content-center align-item-center px-0" ng-if="!sub.modelYears || !sub.modelYears.length"><span class="badge badge-modelyear-tags me-1 my-auto ms-0 px-2 py-1 small">ALL</span></div>
                                                            <div class="container-fluid d-flex justify-content-center align-item-center px-0" ng-if="sub.modelYears && sub.modelYears.length">
                                                                <span class="badge badge-modelyear-tags me-1 my-auto ms-0 px-2 py-1 small" ng-repeat="year in sub.modelYears track by $index">{{ year }}</span>
                                                            </div>
                                                        </td>
                                                        <td class="p-1" ng-if="sub.modulesUpdated && sub.modulesUpdated.length">
                                                            <div class="container-fluid d-flex justify-content-center align-item-center px-0">
                                                                <span class="badge badge-modulesupd-tags text-uppercase me-1 my-auto ms-0 px-2 py-1 small" ng-repeat="module in sub.modulesUpdated track by $index"
                                                                    >{{ module }}<span class="ms-1" ng-if="sub.apimVersion && sub.apimVersion.length && module === 'APIM'">({{ sub.apimVersion }})</span></span
                                                                >
                                                            </div>
                                                        </td>
                                                        <td class="p-1" ng-if="sub.updateMethod && sub.updateMethod.length">
                                                            <div class="d-flex justify-content-center align-item-center">
                                                                <span class="badge badge-updmethod-tags my-auto ms-0 px-2 py-1 small">{{ sub.updateMethod }}</span>
                                                            </div>
                                                        </td>
                                                        <td class="p-1">
                                                            <div class="d-flex justify-content-center align-item-center">
                                                                <span class="badge my-auto ms-0 px-2 py-1 small text-uppercase" ng-class="getInhibitTagCls(sub.inhibitRequired)">{{ sub.inhibitRequired }}{{ sub.inhibitMinutes && sub.inhibitMinutes > 0 ? ' (' + sub.inhibitMinutes +'Min)' : "" }}</span>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="my-auto me-auto" ng-if="sub.changes && sub.changes.length > 0">
                                            <div class="fw-bold small mb-0">Changes:</div>
                                            <ul class="small mb-2">
                                                <li ng-repeat="change in sub.changes track by $index">
                                                    <div class="d-flex align-items-center">
                                                        <span class=""
                                                            >{{ change.text }}<a class="ms-1 small" href="{{ change.link }}" ng-if="change.link">[{{ change.linkText && change.linkText.length ? change.linkText : 'Link' }}]</a>
                                                            <span class="badge badge-chg-model-tags mx-1 my-auto ms-0 px-2 py-1 x-small" ng-if="change.models && change.models.length" ng-repeat="model in change.models track by $index">{{ model }}</span>
                                                        </span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="card-footer py-1">
                                        <div class="d-flex row">
                                            <div class="col-12 col-md-6 px-1 small">
                                                <div class="d-flex justify-content-center align-items-center" ng-if="sub.submittedBy || sub.submitDate">
                                                    <span class="small fw-bold text-center">Submitted:</span>
                                                    <span class="fw-normal text-center smaller ms-1" ng-if="sub.submitDate && sub.submitDate.length">{{ formatDateToLocale(sub.submitDate) }}</span>
                                                    <span class="fw-normal text-center smaller ms-1 fw-bold" ng-if="sub.submittedBy && sub.submittedBy.length">{{ sub.submittedBy }}</span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6 px-1 small">
                                                <div class="d-flex justify-content-center align-items-center" ng-if="sub.modifiedBy || sub.modifiedDate">
                                                    <span class="small fw-bold text-center">Modified:</span>
                                                    <span class="fw-normal text-center smaller ms-1" ng-if="sub.modifiedDate && sub.modifiedDate.length">{{ formatDateToLocale(sub.modifiedDate) }}</span>
                                                    <span class="fw-normal text-center smaller ms-1 fw-bold" ng-if="sub.modifiedBy && sub.modifiedBy.length">{{ sub.modifiedBy }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- SUBMISSION CARD END  -->
                            </div>
                            <!--  SUBMISSION DIV WRAPPER END -->
                        </div>
                        <!-- SHOW THIS DIV WHEN SUBMISSION RECORDS ARE FOUND START -->

                        <!-- SHOW THIS WHEN THERE ARE NO SUBMISSIONS FOUND START -->
                        <div class="" ng-if="!FilteredPowerUpData.submissions || FilteredPowerUpData.submissions.length === 0">
                            <div class="card hover-shadow border-ford-blue mx-2 my-2 w-100">
                                <div class="card-body p-2">
                                    <div class="d-flex justify-content-center align-items-center p-4">No Power-Up Data Found...</div>
                                </div>
                            </div>
                        </div>
                        <!-- SHOW THIS WHEN THERE ARE NO SUBMISSIONS FOUND END -->
                    </div>
                </div>
            </div>
        </div>

        <!-- Body -->

        <!-- build:js js/body-combined.js -->
        <script type="text/javascript" src="../../node_modules/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="../../node_modules/angular/angular.min.js"></script>
        <script type="text/javascript" src="../../node_modules/axios/dist/axios.min.js"></script>
        <script type="text/javascript" src="../../node_modules/ui-bootstrap4/dist/ui-bootstrap-3.0.7.min.js"></script>
        <script type="text/javascript" src="../../node_modules/ui-bootstrap4/dist/ui-bootstrap-tpls-3.0.7.min.js"></script>
        <script type="text/javascript" src="../../node_modules/mdb-ui-kit/js/mdb.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
        <!-- endbuild -->
    </body>
</html>
