<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title>Ford Power-Up Info</title>
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
        <link rel="manifest" type="application/manifest+json; charset=utf-8" href="/site.webmanifest" />

        <!-- build:css css/combined.css -->
        <link rel="stylesheet" type="text/css" href="../../node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css" type="text/css" />
        <link rel="stylesheet" type="text/css" href="../../node_modules/@fortawesome/fontawesome-free/css/brands.min.css" type="text/css" />
        <link rel="stylesheet" type="text/css" href="css/roboto-font.css" />
        <link rel="stylesheet" type="text/css" href="css/sf-pro-display.css" />
        <link rel="stylesheet" type="text/css" href="../../node_modules/mdb-ui-kit/css/mdb.min.css" />
        <link rel="stylesheet" type="text/css" href="../../node_modules/material-icons/iconfont/material-icons.css" />
        <link rel="stylesheet" type="text/css" href="../../node_modules/ui-bootstrap4/dist/ui-bootstrap-3.0.7-csp.css" />

        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <link rel="stylesheet" type="text/css" href="css/theme-light.css" />
        <link rel="stylesheet" type="text/css" href="css/theme-dark.css" />
        <!-- <link rel="stylesheet" type="text/css" href="css/theme_toggle.css" /> -->

        <link rel="stylesheet" type="text/css" href="css/spinners.css" />
        <!-- endbuild -->

        <!-- build:js js/header-combined.js -->
        <script type="text/javascript" src="../../node_modules/@fortawesome/fontawesome-free/js/fontawesome.min.js"></script>
        <script type="text/javascript" src="../../node_modules/@fortawesome/fontawesome-free/js/all.min.js"></script>

        <!-- endbuild -->
    </head>

    <body class="pb-4" ng-app="mainApp" ng-cloak>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg py-0 navbar-dark bg-ford-blue">
            <div class="container-fluid my-1" id="site-navbar">
                <div class="text-center">
                    <div class="d-flex justify-content-center text-center medium">
                        <div class="d-flex align-items-center text-white"><i class="fa fa-cube me-1"></i><span class="pe-1">Ford</span><span class="pe-1 fw-bold">Power-Up</span><span class="pe-1">Info</span></div>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <a class="btn text-white medium px-2" href="https://github.com/tonesto7/ford-pwr-up-info/issues" role="button" title="Submit New Item"><i class="fas fa-plus"></i></a>
                    <a class="btn text-white medium px-2" href="https://github.com/tonesto7/ford-pwr-up-info" role="button" title="Project Source"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </nav>
        <!-- Navbar -->

        <!-- Body -->
        <div class="" ng-controller="PwrUpInfoController">
            <div class="container">
                <div class="">
                    <div class="" ng-if="!pwrUpData.submissions || pwrUpData.submissions.length === 0">
                        <div class="d-flex justify-content-center align-items-center p-4">No Power-Up Data Found...</div>
                    </div>
                    <div class="w-100" ng-if="pwrUpData && pwrUpData.submissions.length > 0">
                        <div class="d-flex justify-content-center align-items-center" ng-repeat="sub in pwrUpData.submissions track by $index">
                            <div class="card hover-shadow border-ford-blue mx-2 my-2 w-100">
                                <div class="card-header bg-light-gray px-3 py-1 w-100">
                                    <div class="">
                                        <div class="card-title fw-bolder text-large my-auto">{{ sub.powerupVersion }}</div>
                                        <div class="card-subtitle small" ng-if="sub.releaseDateUs">{{ sub.releaseDateUs }}</div>
                                    </div>
                                </div>
                                <div class="card-body p-2">
                                    <div class="my-auto me-auto" ng-if="sub.changes && sub.changes.length > 0">
                                        <div class="fw-bold small mb-0">Changes:</div>
                                        <ul class="small mb-1">
                                            <li ng-repeat="change in sub.changes track by $index">
                                                <div class="d-flex align-items-center">
                                                    <span class="">{{ change.text }}<a class="ms-1 small" href="{{ change.link }}" ng-if="change.link">[Link]</a></span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div ng-if="sub.models && sub.models.length">
                                        <div class="container-fluid d-flex align-item-center px-0"><span class="small fw-bold me-1">Models:</span><span class="badge rounded-pill badge-model-tags me-1 my-auto ms-0 px-2 py-1 xx-small" ng-repeat="model in sub.models track by $index">{{ model }}</span></div>
                                    </div>
                                    <div ng-if="sub.modelYears && sub.modelYears.length">
                                        <div class="container-fluid d-flex align-item-center px-0"><span class="small fw-bold me-1">Years:</span><span class="badge rounded-pill badge-modelyear-tags me-1 my-auto ms-0 px-2 py-1 xx-small" ng-repeat="year in sub.modelYears track by $index">{{ year }}</span></div>
                                    </div>
                                </div>

                                <div class="card-footer px-2 py-1" ng-if="(sub.apimVersion) || (sub.modulesUpdated && sub.modulesUpdated.length)">
                                    <div ng-if="sub.modulesUpdated && sub.modulesUpdated.length">
                                        <div class="container-fluid d-flex align-item-center px-0"><span class="small fw-bold me-1">Modules:</span><span class="badge rounded-pill badge-modulesupd-tags me-1 my-auto ms-0 px-2 py-1 xx-small" ng-repeat="module in sub.modulesUpdated track by $index">{{ module }}</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Body -->

        <!-- build:js js/body-combined.js -->
        <script type="text/javascript" src="../../node_modules/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="../../node_modules/angular/angular.min.js"></script>
        <script type="text/javascript" src="../../node_modules/axios/dist/axios.min.js"></script>
        <script type="text/javascript" src="../../node_modules/ui-bootstrap4/dist/ui-bootstrap-3.0.7.min.js"></script>
        <script type="text/javascript" src="../../node_modules/ui-bootstrap4/dist/ui-bootstrap-tpls-3.0.7.min.js"></script>
        <script type="text/javascript" src="../../node_modules/mdb-ui-kit/js/mdb.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
        <!-- endbuild -->
    </body>
</html>
